MYSQL_ROOT_PASSWORD=sua_senha
MYSQL_DATABASE=teste
MYSQL_USER=root
MYSQL_PASSWORD=sua_senha
MYSQL_ROOT_HOST=%

DATABASE_HOST=db
DATABASE_DATABASE=teste
DATABASE_USERNAME=user
DATABASE_PASSWORD=sua_senha
API_BACKEND=api/
API_FRONTEND=/
UPLOAD_DIR_PHOTOS=/anexos
UPLOAD_DIR_PHOTOS_USERS=/photosUsers
